footer {
    background-color: #000;
    color: #fff;
    padding: 80px 0;
    margin: 0 auto;
}

.logo {
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
}

.red {
    color: var(--red);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

footer img {
    padding-top: 20px;
   

}

.icons-footer {
    display: flex;
    gap: 20px;
}

.title-links {
    color: var(--pink);
    font-family: 'Alegreya', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
}

.links a {
    color: #FFF;
    font-family: 'Alegreya', sans-serif;
    font-size: 16px;
    gap: 5px;
    padding-left: 15px;
}

.links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer p {
    color: #FFF;
    font-family: 'Alegreya', sans-serif;
    font-size: 16px;
    margin-top: 38px;
}

@media (max-width:720px){
    .footer-container{
        flex-direction: column;
    }
}